.reviews-block
    max-width 770px
    display flex
    text-align left
    margin 0 auto 64px
    &:last-of-type
        margin-bottom 28px
        @media (max-width 992px)
            margin-bottom 20px
    @media (max-width 992px)
        margin-bottom 40px
    @media (max-width 768px)
        flex-direction column
        align-items center
    &__avatar
        vertical-align top
        flex-shrink 0
        width 122px
        height 122px
        margin-right 40px
        @media (max-width 992px)
            width 96px
            height 96px
            margin-right 20px
        @media (max-width 768px)
            margin-right 0
    &__title
        color #3f444a
        font-family RobotoCondensed
        font-size 25px
        font-weight 700
        text-transform uppercase
        margin-bottom 13px
        @media (max-width 992px)
            font-size 20px
            margin-bottom 6px
        @media (max-width 768px)
            text-align center
    &__subtitle
        color #ec4848
        font-family RobotoCondensed
        font-size 14px
        font-weight 700
        text-transform uppercase
        margin-bottom 34px
        @media (max-width 992px)
            margin-bottom 8px
        @media (max-width 768px)
            text-align center
    &__text
        color #5c6873
        font-family RobotoCondensed
        font-size 18px
        font-weight 300
        line-height 25px
        @media (max-width 992px)
            font-size 17px
        @media (max-width 768px)
            text-align center
    &__content
        display inline-block
        vertical-align top
