.reviews-block
    width 770px
    display flex
    text-align left
    margin 0 auto 64px
    &:last-of-type
        margin-bottom 28px
    &__avatar
        display inline-block
        vertical-align top
        flex-shrink 0
        width 122px
        height 122px
        margin-right 40px
    &__title
        color #3f444a
        font-family RobotoCondensed
        font-size 25px
        font-weight 700
        text-transform uppercase
        margin-bottom 13px
    &__subtitle
        color #ec4848
        font-family RobotoCondensed
        font-size 14px
        font-weight 700
        text-transform uppercase
        margin-bottom 34px
    &__text
        color #5c6873
        font-family RobotoCondensed
        font-size 18px
        font-weight 300
        line-height 25px
    &__content
        display inline-block
        vertical-align top
