.who
    text-align center
    padding-top 100px
    padding-bottom 10px
    border-bottom 1px solid #ebebeb
    margin-bottom: 68px
    &__subtitle
        color #5c6873
        font-family RobotoCondensed
        font-size 18px
        font-weight 300
        line-height 30px
        width 800px
        margin 0 auto 64px
    &__content
        display flex
        justify-content space-between
    &__accordions
        width 580px
    &__skills
        width 538px
        display flex
