.portfolio
	text-align center
	padding-top 50px
	padding-bottom 50px
	border-bottom 1px solid #ebebeb
	margin-bottom 48px
	&__item
		text-decoration none
		filter grayscale(100%)
		transition filter .5s
		&:hover
			filter grayscale(0)
	&__list
		display flex
		justify-content space-between
	&__name
		color #292626
		font-family "Myriad Pro"
		font-size 25px
		font-weight 400
		display inline-block
		vertical-align middle
	&__icon
		display inline-block
		vertical-align middle
		height 41px
