include ../title/title
include ../wrap/wrap

mixin portfolio()
	+b.portfolio&attributes(attributes)
		+wrap()
			+title({text: 'Our Awesome Works'})
			+e.list
				+e('a').item(href='#')
					+e('img').icon(src='assets/images/graphicriver.png')
					+e.name graphicriver
				+e('a').item(href='#')
					+e('img').icon(src='assets/images/themeforest.png')
					+e.name themeforest
				+e('a').item(href='#')
					+e('img').icon(src='assets/images/audiojungle.png')
					+e.name audiojungle
				+e('a').item(href='#')
					+e('img').icon(src='assets/images/codecanyon.png')
					+e.name codecanyon
				+e('a').item(href='#')
					+e('img').icon(src='assets/images/activeden.png')
					+e.name activeden
