.bottom
	padding-top 26px
	padding-bottom 26px
	background-color #151515
	border-top 3px solid #534a4a
	&__container
		display flex
		justify-content space-between
		@media(max-width 768px)
			flex-direction column
			align-items center
	&__copyright
		font-family OpenSans
		font-size 14px
		font-weight 400
		line-height 19px
		color #c5c5c5
		display inline-block
		@media(max-width 768px)
			margin-bottom 20px
			text-align center
	&__link
		color #ec4848
		text-decoration none
		display inline-block
	&__icon
		width 16px
		height 16px
	&__social-link
		color #737373
		display inline-block
		text-decoration none
		display inline-block
		margin-right 20px
		transition color .3s
		&:hover
			color #ec4848
		&:last-of-type
			margin-right 0
