include ../icon/icon

mixin team-item(data)
	+b.team-item&attributes(attributes)
		+e('img').photo(src='assets/images/' + data.photo + '.jpg')
		+e.info
			+e.name= data.name
			+e.post= data.post
			+e.links
				+e('a').link(href='#')
					+icon('facebook').icon
				+e('a').link(href='#')
					+icon('twitter').icon
				+e('a').link(href='#')
					+icon('pinterest').icon
				+e('a').link(href='#')
					+icon('dribbble').icon
				+e('a').link(href='#')
					+icon('behance').icon 
