.title
    color #3f444a
    font-family RobotoCondensed
    font-size 40px
    font-weight 700
    text-transform uppercase
    margin-bottom 60px
    @media (max-width 992px)
        margin-bottom 26px
        font-size 30px
