include ../title/title
include ../wrap/wrap
include ../team-item/team-item

mixin team()
	+b.team&attributes(attributes)
		+wrap()
			+title({text: 'Meet Our Team'})
			+e.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.Lorem ipsum dolor sit amet, consectetur facilisis.
			+e.list
				+e.col
					+team-item({photo: 'photo1', name: 'Mahabubul Islam', post: 'Html-Coder'})
				+e.col
					+team-item({photo: 'photo1', name: 'Mahabubul Islam', post: 'Html-Coder'})
				+e.col
					+team-item({photo: 'photo1', name: 'Mahabubul Isl	am', post: 'Html-Coder'})
				+e.col
					+team-item({photo: 'photo1', name: 'Mahabubul Islam', post: 'Html-Coder'})
