.team
	text-align center
	padding-top 50px
	border-top 1px solid #ebebeb
	border-bottom 1px solid #ebebeb
	margin-top 48px
	padding-bottom 48px
	@media (max-width 992px)
		border-top none
		margin-top 0
		padding-top 30px
		padding-bottom 20px
	&__text
		color #5c6873
		font-family RobotoCondensed
		font-size 18px
		font-weight 300
		line-height 32px
		max-width 692px
		margin 0 auto 52px
		@media (max-width 992px)
			font-size 17px
			margin-bottom 20px
			line-height 26px
	&__list
		display flex
		flex-wrap wrap
	&__col
		flex-basis 25%
		max-width 25%
		@media (max-width 1200px)
			max-width 50%
			flex-basis 50%
		@media (max-width 606px)
			max-width 100%
			flex-basis 100%
