.team
	text-align center
	padding-top 50px
	border-top 1px solid #ebebeb
	border-bottom 1px solid #ebebeb
	margin-top 48px
	padding-bottom 48px
	&__text
		color #5c6873
		font-family RobotoCondensed
		font-size 18px
		font-weight 300
		line-height 32px
		width 692px
		margin 0 auto 52px
