.statistics-block
	width 268px
	height 248px
	background rgba(236,72,72, .3)
	text-align center
	padding-top 48px
	padding-bottom 60px
	margin-left auto
	margin-right auto
	@media (max-width 1200px)
		margin-bottom 20px
	&__icon
		width 58px
		height 44px
		margin-bottom 32px
	&__num
		color white
		font-family RobotoCondensed
		font-size 40px
		font-weight 700
		font-variant small-caps
		margin-bottom 24px
	&__text
		color white
		font-family RobotoCondensed
		font-size 14px
		font-weight 400
		text-transform uppercase
