include ../wrap/wrap
include ../statistics-block/statistics-block

mixin statistics()
	+b.statistics&attributes(attributes)
		+wrap()
			+e.content
				+e.col
					+statistics-block({icon: 'heart', num: '10K+', text: 'Love Our Team'})
				+e.col
					+statistics-block({icon: 'check', num: '10K+', text: 'Love Our Team'})
				+e.col
					+statistics-block({icon: 'repeat', num: '10K+', text: 'Love Our Team'})
				+e.col
					+statistics-block({icon: 'beer', num: '10K+', text: 'Love Our Team'})
