.subscribe
	padding-top 16px
	padding-bottom 16px
	background-color #312b2b
	&__container
		display flex
		justify-content space-between
		font-size 0
		align-items center
		@media(max-width 768px)
			flex-direction column
	&__text
		color #ccc
		font-family Roboto
		font-size 16px
		font-weight 500
		@media(max-width 768px)
			margin-bottom 20px
			text-align center
			line-height 20px
	&__icon
		width 22px
		height 22px
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
	&__button
		display inline-block
		background-color #ec4848
		height 48px
		width 60px
		vertical-align middle
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		position relative
	&__input
		display inline-block
		height 48px
		text-align left
		padding-left 16px
		padding-right 16px
		width 298px
		border none
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		vertical-align middle
		font-size 17px
		@media (max-width 768px)
			width 220px
