.fancybox
    &__icon
        width 40px
        height 40px
    &__close
        color #5c6873
        position absolute
        top -30px
        right -30px
        transition color .3s
        &:hover
            cursor pointer
            color darken(#5c6873, 20)
