.item
    color #3f444a
    border-radius 10px
    border 1px solid #dbdbdb
    display inline-block
    padding-top 32px
    padding-bottom 140px
    width 332px
    position relative
    padding-left 26px
    padding-right 26px
    transition .3s
    &:hover
        color #fff
        background-color #3f444a
    &__logo
        vertical-align middle
        size 88px
    &__title
        font-family RobotoCondensed
        font-size 22px
        font-weight 700
        text-transform uppercase
        margin-top 62px
        margin-bottom 30px
        text-align left
    &__text
        font-family RobotoCondensed
        font-size 18px
        font-weight 300
        line-height 25px
        text-align left
        width 260px
    &__button
        position absolute
        left 50%
        transform translateX(-50%)
        bottom 42px
