.header
    display flex
    justify-content space-between
    align-items center
    &__title
        color #ec4848
        font-family PTSans
        font-size 34px
        font-weight 700
        font-variant small-caps
        text-transform uppercase
    &__item
        font-family RobotoCondensed
        font-size 14px
        font-weight 700
        text-transform uppercase
        color #3f444a
        text-decoration none
