mixin header()
    +b.header
        +e.title Adventurer
        +e.menu
            +e('a').item(href='#') Home
            +e('a').item(href='#') About
            +e('a').item(href='#') Contact
            +e('a').item(href='#') Service
            +e('a').item(href='#') Faq
            +e('a').item(href='#') Support
            +e('a').loop(href='#') 
                +icon('loop')
             
            
