.header
    padding-top 28px
    padding-bottom 28px
    &__content
        display flex
        justify-content space-between
        align-items center
    &__title
        color #ec4848
        font-family PTSans
        font-size 34px
        font-weight 700
        font-variant small-caps
        text-transform uppercase
    &__menu
        display flex
        align-items center
    &__item
        font-family RobotoCondensed
        font-size 14px
        font-weight 700
        text-transform uppercase
        color #3f444a
        text-decoration none
        margin-right 34px
        &_active
            color #ec4848
    &__loop-icon
        width 30px
        height 30px
