.works
	text-align center
	padding-top 52px
	padding-bottom 80px
	border-bottom 1px solid #ebebeb
	&__text
		color #5c6873
		font-family RobotoCondensed
		font-size 18px
		font-weight 300
		line-height 32px
		width 692px
		margin 0 auto
		margin-bottom 70px
	&__links
		margin-bottom 52px
	&__link
		font-family RobotoCondensed
		font-size 16px
		font-weight 700
		text-transform uppercase
		color #3f444a
		text-decoration none
		margin-right 36px
		display inline-block
		cursor pointer
		&:last-of-type
			margin-right 0
		&:hover
			color #ec4848
	&__list
		display flex
		flex-wrap wrap
		margin-right -30px
		justify-content center

.mix
	display none
