.reviews
    padding-top 48px
    text-align center
    padding-bottom 60px
    border-bottom 1px solid #ebebeb
    margin-bottom 50px
    @media (max-width 992px)
        border-bottom none
        margin-bottom 0
        padding-top 30px
        padding-bottom 30px
    &__dot
        background #3f444a
        width 13px
        height 13px
        border-radius 50%
        display inline-block
        margin 0 4px
        cursor pointer
    .slick-dots
        .slick-active
            .reviews__dot
                background #ec4848
