.skills
    display flex
    flex-direction column
    justify-content space-between
    flex-grow 1
    flex 1 auto
    &__item
        height 32px
        background-color #f2f2f2
        text-align left
        width 100%
        border 1px solid #d7d7d7
        border-radius 2px
    &__progress
        color white
        font-family RobotoCondensed
        font-size 16px
        font-weight 400
        background-color #ec4848
        height 30px
        border-top-left-radius 1px
        border-bottom-left-radius 1px
        padding-top 6px
        padding-left 18px
